.gke-promo-banner.animated
  .gke-promo-banner-content
    %p
      Free download:
      %a{href: '/resources/scaling-enterprise-devops/'} Starting and Scaling DevOps in the Enterprise by Gary Gruver
